@import '../../../variables.scss';

.pagination_container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 20rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.arrow_button {
  color: $active_arrow_color;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;

  background-color: $background;

  border: none;

  cursor: pointer;
}

.inactive_button {
  cursor: auto;
  color: $inactive_arrow_color;
}

.arrow_button_active:hover {
  transition: 0.25s;
  color: darken($active_background_color, 10);
}
