// Цвета, которые используются на экранах

// header
$header_background: #ed1a3b;
$navigation_link: #f5c236;
$active_link: black;

// main
$background: white;
$button_background: #efad4d;
$button_text: white;

// search
$search_theme: #dadada;
$active_search: #8d1427;

// link card page
$header_text: #333333;
$info_text: #7d7d7d;

// link card
$card_header: #ed1a3b;
$description_text: #7d7d7d;

// pagination
$inactive_color: #a8132a;
$active_color: #ffffff;
$active_background_color: #efad4d;

// details
$details_header_text: black;
$details_description_text: black;
$details_link_text: #7096c2;

// footer
$footer_background: #555555;
$footer_text: white;

$footer_padding_left: 0.8rem;

// grid
$num_columns: 6;
